#Loading the dataset and checking for inconsistencies.

In [2]:
import pandas as pd
df = pd.read_csv("Cleaned_DS_Jobs.csv")
print(df.info()) # Check for missing values and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  min_salary         660 non-null    int64
 13  max_salary         660 non-null    int64
 14  avg_salary         660 non-null    int64
 15  job_state          660 non-null    object
 16  same_state         660 non-null    int64
 17  company_age        660 non-null    int64
 18  python             660 non-null    int64
 19  excel              660 non-null    int64
 20  hadoop             660 non-null    int64
 21  spark              660 non-null    int64
 22  aws                660 non-null    int64
 23  tableau            660 non-null    int64
 24  big_data           660 non-null    int64
 25  job_simp           660 non-null    object
 26  seniority          660 non-null    object
dtypes: float64(1), int64(12), object(14)
memory usage: 139.3+ KB
None

#Identify and remove redundant entries.

In [3]:
df = df.drop_duplicates() # Removes exact duplicate rows [cite: 8, 28]

#Diagnose missing data and apply imputation or deletion.

In [4]:
df["Rating"] = df["Rating"].fillna(df["Rating"].mean()) # Imputation

#Fix numerical columns trapped as strings and normalize text.

In [5]:
df["Job Title"] = df["Job Title"].str.lower().str.strip() # Text normalization [cite: 9, 35]
df["Salary Estimate"] = pd.to_numeric(df["Salary Estimate"], errors='coerce') # Type correction

Using assertions to ensure no missing values or duplicates remain before saving.

In [6]:
assert df.duplicated().sum() == 0 # Ensure no duplicates 
df.to_csv("cleaned_data.csv", index=False) # Save final output [cite: 37]